<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Schedule a haircut</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <%= simple_form_for Booking.new do |f|%>
          <%= f.input :haircut, collection: Haircut::HAIRCUT_TYPES %>
          <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%# f.input :time, as: :string, collection: [hour], as: :radio_buttons %>
          <h6 class="time-label">Time</h6>
          <span id="booking-data"></span>
          <%= f.input :client_name, label: false, placeholder: 'Name' %>
          <%= f.input :client_email, label: false, placeholder: 'Email' %>
          <%= f.input :phone_number, label: false, placeholder: 'Phone Number' %>
          <%= f.input :message, label: false, placeholder: 'Message' %>
          <%= f.submit "Book Haircut", class: "submit-booking btn-block mb-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<span id="booking-schedule" <% Booking.all.each do |booking| %>
  data-booking-<%= booking.id %> = "<%= booking.date %>-<%= booking.time.strftime("%I:%M %p") %>"
  <% end %>
  ></span>
