<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinclipart.com%2Fpindetail%2FhJiRmJ_shears-clipart-haircut-scissors-hair-cutting-scissors-icon%2F&psig=AOvVaw2DuuNCIOb4xiDWBnO3KFzx&ust=1590092246465000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJj0tq-hw-kCFQAAAAAdAAAAABAD">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinclipart.com%2Fpindetail%2FhJiRmJ_shears-clipart-haircut-scissors-hair-cutting-scissors-icon%2F&psig=AOvVaw2DuuNCIOb4xiDWBnO3KFzx&ust=1590092246465000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJj0tq-hw-kCFQAAAAAdAAAAABAD">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinclipart.com%2Fpindetail%2FhJiRmJ_shears-clipart-haircut-scissors-hair-cutting-scissors-icon%2F&psig=AOvVaw2DuuNCIOb4xiDWBnO3KFzx&ust=1590092246465000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJj0tq-hw-kCFQAAAAAdAAAAABAD">
    <title>Razor King</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/booking_form' %>

    <!-- <%#= render 'shared/flashes' %> -->
    <%= yield %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
